$scheme-light: #3b7dd8;
$scheme-dark: #4a91f2;
$nav-bar-selected: #4a91f2;
$box-shadow: rgba(180,180,180, 0.4);
$off-white: rgb(230,230,230);
$nav-bar-unselected: rgb(180,180,180);
$overlay-load: #4a91f2;
$app-background: rgb(240,240,240);
